<div class="modal-body clearfix" id="add-product" ng-controller="CartController">
    <h1>
        <i class="icn icn-bag"></i>
        <div>&iquest;Est&aacute; seguro que desea agregar este producto?</div>
        <div id="product-description">{{ Product.Product.description }}</div>
        <div id="add-product-content" ng-show="Products">
            <ul>
                <li id="product-id-{{Product.ShopBrochureProduct.id}}" ng-click="setProductId(Product.ShopBrochureProduct.id)" ng-repeat="Product in Products">{{ Product.Product.property != '' ? Product.Product.property : Product.Product.description }} - $ {{ Product.ShopBrochureProduct.price }}</li>
            </ul>
        </div>
    </h1>
    <button class="btn-danger pull-left" ng-click="acceptadd()">Agregar</button>
    <a class="btn-default pull-right" href ng-click="canceladd()">No agregar producto</a>
</div>

<script src="resources/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    (function($){
        $(window).load(function(){
            $("#add-product-content").mCustomScrollbar({
                theme:"minimal"
            });
        });
    })(jQuery);
</script>