<div ng-include src="'resources/partials/nav.html'"></div>
<div id="brochure">
    <div id="colcat" class="container" style="display: none">
        <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
		        <div class="col-xs-1 control" style="padding-right: 0px; padding-left:0px;">
		        	<a class="left" data-target="#carousel" data-slide="prev" style="margin-top:278%">
						<i class="icn icn-chevron-left"></i>
					</a>
		        </div>
	            <div class="col-xs-10">
	            	<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false" style="overflow: hidden;max-height: 552px;">
						<div class="carousel-inner" role="listbox">
							<div class="item" ng-repeat="(k, v) in Brochure.ShopBrochureImage" ng-if="$index > 0" ng-class="{'active': $index == 1}" data-id="{{ v.id }}" data-index="{{ k }}">
							 	<img ng-src="{{ v.url }}">
							</div>
						</div>
					</div>
	            </div>
	            <div class="col-xs-1 control" style="padding-right: 0px; padding-left:0px;">
	            	<a class="right" data-target="#carousel" data-slide="next" style="margin-top:278%">
						<i class="icn icn-chevron-right"></i>
					</a>
					<div class="tools" style="margin-top:80%">
						<a href="javascript:;" class="clearfix" ng-click="zoom('in')">
							<i class="icn icn-zoom-in"></i>
						</a>
						<a href="javascript:;" class="clearfix" ng-click="zoom('out')">
							<i class="icn icn-zoom-out"></i>
						</a>
						<a style="display:none" href="javascript:window.history.back();" class="clearfix">
							<i class="icn icn-return"></i>
						</a>
					</div>
	            </div>
	            <div class="col-xs-3 col-xs-offset-1 thumb">
		            <div class="row">	
		            	<div class="col-md-3">
		            		<img class="img-responsive" ng-src="{{Brochure.ShopBrochureImage[0].name}}">
		            	</div>
		            	<div class="col-md-9">
		            		<h1>{{ Brochure.ShopBrochure.name }}</h1>
		            		<h2>{{ Brochure.Campaign.name + ' ' + Brochure.Campaign.start_date }}</h2>
		            		<a href="#brochures">CAT&Aacute;LOGOS VIGENTES</a>
		            	</div>
		            </div>
	            </div>
	            <div class="col-xs-7 pagination">
		            <ol class="carousel-indicators pull-right">
						<li data-target="#carousel" ng-if="$index > 0" data-slide-to="{{$index - 1}}" data-page="{{ $index }}" ng-repeat="(k, v) in Brochure.ShopBrochureImage">
							<div ng-if="$index == 1" class="pag"></div>
						</li>
					</ol>
					<div class="clearfix"></div>
					<div class="pull-left">P&aacute;gina 1</div>
					<div class="pull-right">P&aacute;gina {{ (CountPages - 2) +'-' + (CountPages - 1) }}</div>
	            </div>
        	</div>
        </div>
    </div>
</div>