<div ng-include src="'resources/partials/nav.html'"></div>
<div id="brochures">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            	<h1>Selecciona un Catálogo</h1>
                <div class="row row-centered" id="campaignsdiv" style="display:none">
                    <div ng-repeat="(k, v) in Campaigns">
                        <div ng-repeat="(k2, v2) in v" ng-if="k2 == 'CampaignShopBrochure'">
                            <div ng-repeat="(k3, v3) in v2">
                                <article class="col-sm-3">
                                    <a href="#/brochure/{{ v3.ShopBrochure.id }}">
                                        <img class="img-responsive" ng-src="{{ v3.ShopBrochureImage.name }}">
                                    </a>
                                    <div class="clearfix"></div>
                                    <h2>{{ v3.ShopBrochure.name }}</h2>
                                    <div class="clearfix"></div>
                                    <h3>{{ v.Campaign.name }}</h3>
                                    <div class="clearfix"></div>
                                    <h4>Vigencia {{ v3.ShopBrochure.expiration_date }}</h4>   
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display:none;float:left; position: absolute; top:0px; left: 0px;z-index: 9999; width:100%; text-align:center;">
<div id="coachmark" ng-init="step(0)">
    <div class="container">
        <div class="row">
<div class="col-md-12">
                <div class="row">
	<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="true">
		<div class="carousel-inner" role="listbox">
			<div class="item active" data-step="0">
				<img class="img-responsive" ng-src="resources/img/coachmark00.png">
			</div>
			<div class="item" data-step="1">
				<img class="img-responsive" ng-src="resources/img/coachmark01.png">
			</div>
			<div class="item" data-step="2">
				<img class="img-responsive" ng-src="resources/img/coachmark-2.jpg">
			</div>
			<div class="item" data-step="3">
				<img class="img-responsive" ng-src="resources/img/coachmark-3.jpg">
			</div>
			<div class="item" data-step="4">
				<img class="img-responsive" ng-src="resources/img/coachmark-4.jpg">
			</div>
		</div>
		<!-- Controls -->
		<a class="left carousel-control none" data-target="#carousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" data-target="#carousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>
</div>
</div>
</div>
</div>
</div>