<div id="coachmark" ng-init="step(0)">
    <div id="colcat" class="container">
        <div class="row">
            <div class="col-md-12">
	                <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="true">
						<div class="carousel-inner" role="listbox">
							<div class="item active" data-step="0">
							 	<img class="img-responsive" ng-src="resources/img/coachmark-0.jpg">
							</div>
							<div class="item" data-step="1">
							 	<img class="img-responsive" ng-src="resources/img/coachmark-1.jpg">
							</div>
							<div class="item" data-step="2">
							 	<img class="img-responsive" ng-src="resources/img/coachmark-2.jpg">
							</div>
							<div class="item" data-step="3">
							 	<img class="img-responsive" ng-src="resources/img/coachmark-3.jpg">
							</div>
							<div class="item" data-step="4">
							 	<img class="img-responsive" ng-src="resources/img/coachmark-4.jpg">
							</div>
						</div>
						<!-- Controls -->
						<a class="left carousel-control none" data-target="#carousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" data-target="#carousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
            </div>
        </div>
    </div>
</div>
<style>
html,body{height:100%;}

.container {
    height:100%;
}

.fill{
    width:100%;
    height:100%;
    min-height:100%;
    background-color:#990000;
    padding:10px;
    color:#efefef;
}
</style>