<div class="container" id="login" ng-controller="UsersController" ng-init="init()">
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="javascript:;" class="logo">
                <img class="img-responsive" src="resources/img/2.jpg">
            </a>
            <a href="javascript:;" class="btn btn-danger btn-fb" ng-click="login()"><span><i class="icn icn-facebook"></i></span>Ingresar con Facebook</a>
			<!--<div class="terms"><input id="chkTerms" type="checkbox" /> <a href="#/">Terminos y Condiciones</a></div>-->
        </div>
    </div>
</div>