<div ng-include src="'resources/partials/nav.html'"></div>
<div id="cart-client" ng-init="init()">
    <div class="container">
        <div class="row" ng-if="UserCartDeteail[0]">
	        <h1>Detalle del Pedido</h1>
	        <div class="clearfix" ng-repeat="(k, v) in UserCartDeteail">
	        	<div clss="pull-left">
	        		<div class="pull-left image-brochure">
						<a href="#/brochure/{{ v.UserCartDetail[0].ShopBrochureProduct.ShopBrochure.id }}">
	        			<img class="img-responsive" ng-src="{{ v.UserCartDetail[0].ShopBrochureProduct.ShopBrochure.ShopBrochureImage[0].name }}">
						</a>
	        		</div>
	        		<div class="col-xs-4 detail-brochure">
		        		<h3>{{ v.UserCartDetail[0].ShopBrochureProduct.ShopBrochure.name }}</h3>
		        		<h4>{{ v.UserCartDetail[0].ShopBrochureProduct.ShopBrochure.CampaignShopBrochure[0].Campaign.name + ' ' + v.UserCartDetail[0].ShopBrochureProduct.ShopBrochure.CampaignShopBrochure[0].Campaign.start_date }}</h4>
		        		<h5>Vigencia: {{ v.UserCartDetail[0].ShopBrochureProduct.ShopBrochure.expiration_date }}</h5>
	        		</div>
	        		<div class="clearfix"></div>
	        	</div>
	        	<div class="clearfix"></div>
	        	<div class="col-md-12" ng-repeat="(k2, v2) in v" ng-if="k2 == 'UserCartDetail'">
	        		<div class="product clearfix" ng-repeat="(k3, v3) in v2">
		        		<div class="col-xs-2">
		        			<img ng-src="{{ v3.ShopBrochureProduct.image_product != '' ? v3.ShopBrochureProduct.image_product : v3.ShopBrochureProduct.image }}">
			        	</div>
			        	<div class="col-xs-6">
			        		<p>{{ v3.ShopBrochureProduct.Product.code }}</p>
			        		<p>{{ v3.ShopBrochureProduct.Product.description }} {{ v3.ShopBrochureProduct.Product.property }}</p>
			        		<p>${{ v3.ShopBrochureProduct.Product.price }}</p>
			        		<p>{{ v3.ShopBrochureProduct.ShopBrochure.name + '-' + v3.ShopBrochureProduct.ShopBrochure.CampaignShopBrochure[0].Campaign.name + ' ' + v3.ShopBrochureProduct.ShopBrochure.CampaignShopBrochure[0].Campaign.start_date}}</p>
			        	</div>
			        	<div class="col-xs-4 actions">
			        		<a style="visibility: hidden !important" href class="icn icn-remove" ng-click="remove(v3.id)"></a>
			        		<input class="type-number" type="text" min="1" max="9999999" ng-model="v3.quantity" ng-change="updateqty(v3)">
			        		<div class="clearfix"></div>
			        	</div>
	        		</div>
	        	</div>
	        </div>
        </div>
		<div class="row" ng-if="!UserCartDeteail[0]">
			<h1>Lista de Productos: No tiene productos seleccionados.</h1>
		</div>
    </div>
</div>