<div ng-include src="'resources/partials/nav.html'"></div>
<div id="cart-client" ng-init="init()">
    <div class="container">
        <div class="row" ng-if="ShopBrochure[0]">
	        <h1>Lista de Productos ({{ Order.TotalQuantity }})</h1>
	        
			<div class="clearfix" ng-repeat="(campaignindex, campaign) in ShopBrochure">
				<div class="clearfix" style="text-align:left; color: #333;display: inline-block;margin: 0px 0px 10px 0px;padding: 5px 0px;left: 52px;font-size: 16pt;width: 100%;border-bottom: solid 1px #fff;">{{campaign.Campaign.name + ' ' + campaign.Campaign.end_date}}
				
					<div class="pull-right clearfix">
						<a class="btn btn-default" href ng-click="close(campaign.Campaign.id)">
							<i class="icn icn-print"></i>
							Cerrar e imprimir pedido
						</a>
					</div>
				</div>
				
				<div class="clearfix" ng-repeat="(k, v) in campaign.ShopBrochures">
					<div clss="pull-left">
						<div class="pull-left image-brochure">
							<a href="#/brochure/{{ v['ShopBrochure'].id }}">
							<img class="img-responsive" ng-src="{{ v['ShopBrochure'].ShopBrochureImage[0].name }}">
							</a>
						</div>
						<div class="col-xs-4 detail-brochure">
							<h3>{{ v['ShopBrochure'].name }}</h3>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-12">
						<div class="product clearfix" ng-repeat="(k2, v2) in v.ShopBrochureProducts">
							<div class="col-xs-2">
								<img ng-src="{{ v2.Products[0].image_product != '' ? v2.Products[0].image_product : v2.Products[0].image }}">
							</div>
							<div class="col-xs-6">
								<p>{{ 	v2.Products[0].Product.code }} {{ 	v2.Products[0].Product.description }} {{ v2.Products[0].Product.property }}</p>
								
								<p ng-repeat="(k4, v4) in v2.UserCartDetailOffers[0]">{{ v4.quantity }} x ${{ v4.price }} (Oferta aplicada: {{ v4.UserCartOffer.Offer.name }})</p>
							
								<p ng-if="v2.total_quantity_available > 0">{{ v2.total_quantity_available }} x ${{ v2.Products[0].price }}</p>
							</div>
							<div class="col-xs-4 actions">
								<!-- input class="form-control" type="number" ng-model="v2.total_quantity" readonly -->
								
								<a href class="icn icn-remove" ng-click="remove(v2.UserCartDetail.id)"></a>
			        			<input class="type-number" type="text" min="1" max="9999999" ng-model="v2.total_quantity" ng-change="updateqty(v2)">
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="clearfix" style="text-align:right; color: #333;display: inline-block;margin: 0px 0px 10px 0px;padding: 5px 0px;left: 52px;font-size: 16pt;width: 100%;border-top: solid 1px #fff;">
			Cantidad total: {{ Order.TotalQuantity }} <br />
			Precio total: ${{ Order.TotalPrice }} 
			</div>
			
        </div>
		
		<div class="row" ng-if="!ShopBrochure[0]">
			<h1>Pedidos por productos: No posee pedidos actualmente.</h1>
		</div>
    </div>
</div>