<div ng-include src="'resources/partials/nav.html'"></div>
<div id="orders-by-customers" ng-init="init()">
    <div class="container">
        <div class="row" ng-if="UserCart[0]">
	        <h1>Pedidos por clientas ({{ UserCart.TotalQuantity }})</h1>
	        <h2>¿Qué me pidio cada clienta?</h2>
			
	        <div class="clearfix" ng-repeat="(campaignindex, campaign) in UserCart">
			
				<div class="clearfix" style="text-align:left; color: #333;display: inline-block;margin: 0px 0px 10px 0px;padding: 5px 0px;left: 52px;font-size: 16pt;width: 100%;border-bottom: solid 1px #fff;">{{campaign.Campaign.name + ' ' + campaign.Campaign.end_date}}
				
					<div class="pull-right clearfix">
						<a class="btn btn-default" href ng-click="close(campaign.Campaign.id)">
							<i class="icn icn-print"></i>
							Cerrar e imprimir pedido
						</a>
					</div>
				</div>
				
				<div class="clearfix" ng-repeat="(userindex, user) in campaign.Users">
				
					<div class="clearfix" ng-repeat="(k, v) in user.ShopBrochures">
				
						<div clss="pull-left">
							<div class="pull-left image-brochure">
							<a href="#/brochure/{{ v.ShopBrochure.id }}">
								<img class="img-responsive" ng-src="{{ v.ShopBrochure.ShopBrochureImage[0].name }}">
							</a>
							</div>
							<div class="col-xs-4 detail-brochure">
								<h3>{{ v.ShopBrochure.name }}</h3>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-12">
							<div class="product clearfix">
								<div class="col-xs-2">
									<img ng-src="{{ user.User.picture }}">
								</div>
								<div class="col-xs-10">
									<h3>{{ user.User.first_name + ' ' + user.User.last_name }}</h3>
									<div ng-repeat="(k2, v2) in v.ShopBrochureProducts">
										<p ng-repeat="(k4, v4) in v2.UserCartDetailOffer">{{ v2.ShopBrochureProduct.code + ' - ' + v2.ShopBrochureProduct.Product.description + ' ' + v2.ShopBrochureProduct.Product.property}} - {{ v4.quantity }} x ${{ v4.price }} (Oferta aplicada: {{ v4.UserCartOffer.Offer.name }})</p>
										<p ng-if="v2.quantity_available > 0">{{ v2.ShopBrochureProduct.code + ' - ' + v2.ShopBrochureProduct.Product.description + ' ' + v2.ShopBrochureProduct.Product.property}} - {{ v2.quantity_available }} x ${{ v2.ShopBrochureProduct.price }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
				
	        </div>
			
			<div class="clearfix" style="text-align:right; color: #333;display: inline-block;margin: 0px 0px 10px 0px;padding: 5px 0px;left: 52px;font-size: 16pt;width: 100%;border-top: solid 1px #fff;">
			Cantidad total: {{ UserCart.TotalProducts }} <br />
			Precio total: ${{ UserCart.TotalPrice }} 
			</div>
			
        </div>
        <div class="row" ng-if="!UserCart[0]">
        	<h1>Pedidos por clientas: No posee pedidos actualmente.</h1>	
        </div>
    </div>
</div>