<div id="print-orders" ng-init="init()">
	<header>
		<div class="container">
			<div class="row">
				<img class="img-responsive pull-left" ng-src="resources/img/4.png" alt="">
				<div class="pull-right">
					<ul class="list-unstyled">
						<li>Fecha del pedido: <strong>{{ Order.PurchaseDate }}</strong></li>
						<li>Productos: <strong>{{ Order.TotalQuantity }}</strong></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</header>
	<div class="container">
	    <div class="row">
        	<table class="table table-condensed">
			    <thead>
			        <tr>
			            <th>
			            	<span style="display: none">
			            		<a href class="icn icn-arrow-up"></a>
			            		<a href class="icn icn-arrow-down"></a>
			            	</span>
			            	Producto
			            </th>
			            <th style="text-align: center; width: 200px;">
			            	<span style="display: none">
			            		<a href class="icn icn-arrow-up"></a>
			            		<a href class="icn icn-arrow-down"></a>
			            	</span>
			            	Cantidad
			            </th>
			            <th style="text-align: center; width: 200px;">
			            	<span style="display: none">
			            		<a href class="icn icn-arrow-up"></a>
			            		<a href class="icn icn-arrow-down"></a>
			            	</span>
			            	precio unitario
			            </th>
						<th style="text-align: center; width: 200px;">
			            	<span style="display: none">
			            		<a href class="icn icn-arrow-up"></a>
			            		<a href class="icn icn-arrow-down"></a>
			            	</span>
			            	precio total
			            </th>
			        </tr>
			    </thead>
				<tbody ng-repeat="(i, c) in ShopBrochure">
					<tr ng-repeat="(k, v) in c.ShopBrochures">
						<td colspan="4" style="border-top: none !important;">
							<table style="width:100%" ng-repeat="(k2, v2) in v.ShopBrochureProducts">
							<tr ng-repeat="(k3, v3) in v2.UserCartDetailOffers[0]">
								<td style="text-align:left; line-height: 19px;">
									<b>{{ 	v2.Products[0].Product.code }}</b><br />
									{{ 	v2.Products[0].Product.description }} (Oferta aplicada: {{ v3.UserCartOffer.Offer.name }})<br />
									{{ 	v2.Products[0].ShopBrochure.name }} - {{ v2.Products[0].ShopBrochure.CampaignShopBrochure[0].Campaign.name + ' ' + v2.Products[0].ShopBrochure.CampaignShopBrochure[0].Campaign.start_date }}
								</td>
								<td style="text-align: center; width:200px;">{{ v3.quantity }}</td>
								<td style="text-align: center; width:200px;">${{ v3.price }}</td>
								<td style="text-align: center; width:200px;">${{ v3.quantity*v3.price }}</td>
							</tr>
							
							<tr ng-if="v2.total_quantity_available > 0">
								<td style="text-align:left; line-height: 19px;">
									<b>{{ 	v2.Products[0].Product.code }}</b><br />
									{{ 	v2.Products[0].Product.description }}<br />
									{{ 	v2.Products[0].ShopBrochure.name }} - {{ v2.Products[0].ShopBrochure.CampaignShopBrochure[0].Campaign.name + ' ' + v2.Products[0].ShopBrochure.CampaignShopBrochure[0].Campaign.start_date }}
								</td>
								<td style="text-align: center; width:200px;">{{ v2.total_quantity_available }}</td>
								<td style="text-align: center; width:200px;">${{ v2.Products[0].price }}</td>
								<td style="text-align: center; width:200px;">${{ (v2.total_quantity*v2.Products[0].price).toFixed(2) }}</td>
							</tr>
							
							</table>
						</td>						
					</tr>
				</tbody>
				
				<tbody>
				<tr><td colspan="4" style="text-align:right; padding-right: 50px; height: 70px;"><span style="display: inline;padding: 30px;min-width: 150px;color: #f00f90;font-size: 18px; font-weight:bold;">TOTAL</span>${{ Order.TotalPrice }}</td></tr>
				</tbody>
			</table>
	    </div>
	</div>
</div>