<div id="print-orders" ng-init="init()">
	<header>
		<div class="container">
			<div class="row">
				<img class="img-responsive pull-left" ng-src="resources/img/4.png" alt="">
				<div class="pull-right">
					<ul class="list-unstyled">
						<li>Fecha del pedido: <strong>{{ UserCart.parchuse_date }}</strong></li>
						<li>Productos: <strong>{{ UserCart.total_quantity }}</strong></li>
						<li>Clientes: <strong>{{ UserCart.customers }}</strong></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</header>
	<div class="container">
	    <div class="row">
        	<table class="table table-condensed">
			    <thead>
			        <tr>
			            <th>
			            	<span style="display: none">
			            		<a href class="icn icn-arrow-up"></a>
			            		<a href class="icn icn-arrow-down"></a>
			            	</span>
			            	Cliente
			            </th>
			            <th style="width: 37%">
			            	<span style="display: none">
			            		<a href class="icn icn-arrow-up"></a>
			            		<a href class="icn icn-arrow-down"></a>
			            	</span>
			            	Productos
			            </th>
			            <th>
			            	<span style="display: none">
			            		<a href class="icn icn-arrow-up"></a>
			            		<a href class="icn icn-arrow-down"></a>
			            	</span>
			            	Cantidad
			            </th>
						<th>
			            	<span style="display: none">
			            		<a href class="icn icn-arrow-up"></a>
			            		<a href class="icn icn-arrow-down"></a>
			            	</span>
			            	precio unitario
			            </th>
			            <th>
			            	<span style="display: none">
			            		<a href class="icn icn-arrow-up"></a>
			            		<a href class="icn icn-arrow-down"></a>
			            	</span>
			            	precio total
			            </th>
			        </tr>
			    </thead>
			    <tbody ng-repeat="(k, v) in UserCart">
			        <tr ng-repeat="(k2, v2) in v.Users">
			            <td><strong>{{ v2.User.first_name + ' ' + v2.User.last_name }}</strong></td>
			            <td style="text-align:left" colspan="4">
							<div style="width: 100%;text-align:left;" ng-repeat="(k3, v3) in v2.ShopBrochures">
			            	<table style="width: 100%;text-align:left;" ng-repeat="(k4, v4) in v3.ShopBrochureProducts" ng-if="k4 != 'User' && k4 != 'UserCart'">
			            		<tr ng-if="v4.UserCartDetailOffer && v4.UserCartDetailOffer[0]">
			            			<td style="width: 40%">{{ v4.ShopBrochureProduct.code + ' - ' + v4.ShopBrochureProduct.Product.description}}  <b>(Oferta aplicada: {{ v4.UserCartDetailOffer[0].UserCartOffer.Offer.name }})</b><br />{{ v4.ShopBrochureProduct.ShopBrochure.name + ' - ' + v4.ShopBrochureProduct.ShopBrochure.CampaignShopBrochure[0].Campaign.name + ' - ' + v4.ShopBrochureProduct.ShopBrochure.CampaignShopBrochure[0].Campaign.start_date }}</td>
									<td style="width: 20%; text-align:center;">{{ v4.quantity - v4.quantity_available }}</td>
									<td style="width: 20%; text-align:center;">${{ v4.UserCartDetailOffer[0].price }}</td>
									<td style="width: 20%; text-align:center;">${{ (v4.quantity - v4.quantity_available) * v4.UserCartDetailOffer[0].price }}</td>
			            		</tr>
								
								<tr ng-if="v4.quantity_available > 0">
			            			<td style="width: 40%">{{ v4.ShopBrochureProduct.code + ' - ' + v4.ShopBrochureProduct.Product.description + ' - ' + v4.ShopBrochureProduct.ShopBrochure.name + ' - ' + v4.ShopBrochureProduct.ShopBrochure.CampaignShopBrochure[0].Campaign.name + ' - ' + v4.ShopBrochureProduct.ShopBrochure.CampaignShopBrochure[0].Campaign.start_date }}</td>
									<td style="width: 20%; text-align:center;">{{ v4.quantity_available }}</td>
									<td style="width: 20%; text-align:center;">${{ v4.ShopBrochureProduct.price }}</td>
									<td style="width: 20%; text-align:center;">${{ v4.quantity_available*v4.ShopBrochureProduct.price }}</td>
			            		</tr>
								
			            	</table>
							</div>
			            </td>
						<!--<td>
			            	<table ng-repeat="(k3, v3) in v2.ShopBrochures">
			            		<tr ng-repeat="(k4, v4) in v3.ShopBrochureProductsPrices" ng-if="k4 != 'User' && k4 != 'UserCart'">
			            			<td>${{ v4.ShopBrochureProduct.price }}</td>
			            		</tr>
			            	</table>
			            </td>
			            <td>
			            	<table ng-repeat="(k3, v3) in v2.ShopBrochures">
			            		<tr ng-repeat="(k4, v4) in v3.ShopBrochureProductsPrices" ng-if="k4 != 'User' && k4 != 'UserCart'">
			            			<td>${{ (v4.quantity * v4.ShopBrochureProduct.price).toFixed(2) }}</td>
			            		</tr>
			            	</table>
			            </td>-->
			        </tr>
			    </tbody>
				<tbody>
				<tr><td colspan="5" style="text-align:right; padding-right: 50px; height: 70px;"><span style="display: inline;padding: 30px;min-width: 150px;color: #f00f90;font-size: 18px; font-weight:bold;">TOTAL</span>${{ UserCart.total_price }}</td></tr>
				</tbody>
			</table>
	    </div>
	</div>
</div>