<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button id="btnmob" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
                <img ng-src="{{ User.picture }}"> {{ User.firstName + ' ' + User.lastName }}<span class="caret"></span>
            </button>
            <a class="navbar-brand" href="#/brochures">
                <img class="img-responsive" ng-src="resources/img/3.jpg">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
		
			<div id="menu-sl" class="mobilemenu" style="display:none;">
                <ul class="nav navbar-nav">					
                    <li ng-controller="NavController">						
                        <ul class="dropdownmenu" style="display: block !important;">
                            <li>
								<a href="#/brochures"                                                                   >Catálogos Vigentes</a>
                                <a href="#/send-brochure"                                   ng-if="User.userTypeid == 1">Enviar Catálogo</a>
                                <a href="#/send-brochure"                                   ng-if="User.userTypeid != 1">Reenviar Catálogo</a>
                                <a href="#/cart"                                            ng-if="User.userTypeid != 3">Lista de productos ({{ User.cartTotalQuantity }})</a>
                                <a href="#/orders-by-products"                              ng-if="User.userTypeid == 1">Lista de pedidos por productos ({{ User.ordersByProducts }})</a>
                                <a href="#/orders-by-customers"                             ng-if="User.userTypeid == 1">Lista de pedidos por clientes ({{ User.ordersByCustomers }})</a>
                                <a href="#/order-history"                                   ng-if="User.userTypeid == 1">Historial de Pedidos</a>
								<a href="#/client-history"                                  ng-if="User.userTypeid == 2">Historial de Pedidos</a>
								<a ng-controller="ResellerController" ng-click="reseller()" ng-if="User.userTypeid != 1">Soy Revendedora</a>
                                <a href="javascript:;"                                                                  >Ayuda</a>
                                <a ng-controller="UsersController" ng-click="logout()"                                  >Salir</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a ng-controller="CartController" ng-click="send()" class="btn btn-danger"  ng-if="User.userTypeid == 2">Enviar Pedido</a>
            </div>			
            <div id="menu-lg" class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown" dropdown ng-controller="NavController">						
                        <a style="display: inline-block;" href class="dropdown-toggle" dropdown-toggle>
                            <img ng-src="{{ User.picture }}">
                            {{ User.firstName + ' ' + User.lastName }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
								<a href="#/brochures"                                                                   >Catálogos Vigentes</a>
                                <a href="#/send-brochure"                                   ng-if="User.userTypeid == 1">Enviar Catálogo</a>
                                <a href="#/send-brochure"                                   ng-if="User.userTypeid != 1">Reenviar Catálogo</a>
                                <a href="#/cart"                                            ng-if="User.userTypeid != 3">Lista de productos ({{ User.cartTotalQuantity }})</a>
                                <a href="#/orders-by-products"                              ng-if="User.userTypeid == 1">Lista de pedidos por productos ({{ User.ordersByProducts }})</a>
                                <a href="#/orders-by-customers"                             ng-if="User.userTypeid == 1">Lista de pedidos por clientes ({{ User.ordersByCustomers }})</a>
                                <a href="#/order-history"                                   ng-if="User.userTypeid == 1">Historial de Pedidos</a>
								<a href="#/client-history"                                  ng-if="User.userTypeid == 2">Historial de Pedidos</a>
								<a ng-controller="ResellerController" ng-click="reseller()" ng-if="User.userTypeid != 1">Soy Revendedora</a>
                                <a href="javascript:;"                                                                  >Ayuda</a>
                                <a ng-controller="UsersController" ng-click="logout()"                                  >Salir</a>
                            </li>
                        </ul>
						<a href="#/orders-by-products" style="color: #fff;position: relative;padding: 0px;display: inline-block;" ng-if="User.userTypeid == 1"><span style="position: relative;font-size: 18px;" class="glyphicon glyphicon-shopping-cart"></span><div style="position: relative;float:right;background-color: #F50C0C; border-radius: 3px; color:#fff;font-family: arial;font-size: 11px;text-align: center;font-weight: 700;padding: 2px 5px;width: auto;line-height: 12px;vertical-align: middle;margin-left: 6px;">{{ User.ordersByProducts }}</div></a>
						
                    </li>
                </ul>
                <a ng-controller="CartController" ng-click="send()" class="btn btn-danger"  ng-if="User.userTypeid == 2">Enviar Pedido</a>
            </div>
        </div>
    </div>
</nav>